---
interface Props extends HTMLAttributes<'div'> {
    open?: boolean;
}

const { openLabel = 'Open Cart', closeLabel = 'Close Cart' } = Astro.props;
---

<div x-cloak x-data="{toggle(){Alpine.store('globalCart').toggle()}}" {...Astro.props}>
    <div
        class="absolute inset-0 w-40 p-2 bg-red-200 border-r border-black text-red-900 grid grid-flow-row grid-rows-[auto,1fr,auto]"
        x-show="Alpine.store('globalCart').open"
    >
        <div class="w-full text-right">
            <button @click="toggle()" class="pb-2 text-black hover:text-red-500" x-ref="openbutton">
                <svg class="h-6 w-6 text-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <div>
            <div class="gap-2 grid grid-cols-2">
                <template x-for="line in Alpine.store('globalCart').lines" :key="line.id">
                    <div class="text-right text-xs" x-data="{quantity:line.quantity}">
                        <img
                            class="w-full border border-current"
                            :src="line.merchandise.image.url"
                            width="300"
                            height="300"
                            :alt="`${line.merchandise.product.title} ( ${line.merchandise.title} ) `"
                            :title="`${line.merchandise.product.title} ( ${line.merchandise.title} ) `"
                        />
                        <!-- <h3 class="text-xs text-[0.6rem]" x-show="line.merchandise.title!='Default Title'" x-text="`${line.merchandise.title}`"></h3>
                        <h3 class="text-xs text-[0.6rem]" x-show="line.merchandise.title=='Default Title'" x-text="`${line.merchandise.product.title}`"></h3> -->
                        <button
                            x-data="{waiting:false}"
                            :class="{'opacity-50 rotate-45':waiting}"
                            @click="waiting=true; await Alpine.store('globalCart').removeItem(line.merchandise.id) && quantity--; waiting=false">[-]</button
                        >
                        <span x-text="line.quantity" class="font-bold"></span>
                        <button
                            x-data="{waiting:false}"
                            :class="{'opacity-50 rotate-45':waiting}"
                            class="hover:text-red-500"
                            @click="waiting=true; await Alpine.store('globalCart').addItem(line.merchandise.id) && quantity++ ; waiting=false">[+]</button
                        >
                    </div>
                </template>
                <slot />
            </div>
            <div x-show="Alpine.store('globalCart').lines.length == 0" class="h-full text-center grid items-center text-red-500">HEY, IS EMPTY!</div>
        </div>
        <div class="text-right text-sm md:text-neutral" x-show="Alpine.store('globalCart').lines.length">
            ----------------<br />
            <p>
                Total-ish: <span
                    x-text="Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD',trailingZeroDisplay:'stripIfInteger' }).format(Alpine.store('globalCart').cost)"
                ></span>
            </p>
            <p>Tax & Ship: LATER</p>
            <a :href="Alpine.store('globalCart').checkoutUrl" target="_cart"><button class="py-1 font-bold mt-8"> &gt; CHECKOUT</button></a>
        </div>
    </div>
</div>
